.hod{
  margin-left: 130px !important;

  width: 38% !important;
  border: 2px solid !important;
  border-radius: 200px !important;
  /* margin:20px; */
 }
 
.App {

  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* New Css Start from Here */

/* new version started header */
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}
.header{
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index : 100;
}
.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  /* position: sticky; */
  left: 0;
  bottom: 0vh;
  /* width: 100%; */
  /* background-color: red; */
  /* color: white; */
  /* text-align: center; */
}
.intro{
  border: none;
  color: grey;
  /* display: flex; */
  top:auto;
  margin-top: auto;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background-color: black ;
  color:black;
  /* text-align: center; */
  display: flex,
 /* alignItems: center, */
        /* justifyContent: center, */
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
  /* background-color: #05a081; */
}
.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}
/* .img{
  margin: 20px;
} */
.first{
  margin: 40px;
}
.fimage{
  width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 150px;
    margin-top: 46%;
}
.fbody{
  text-align: initial;
}
p{
 margin-bottom: 0rem !important; 
}
.card-img{
  height: 160px;
}
.form-group{
  margin: auto;
    width: 388px;
}
input[type=file]{
  padding-left: 90px;
}
/* .btn{ */
  /* margin-bottom: 25px; */
  /* bottom: 0px !important; */
/* } */
.logoimg{
  width: 65px;
  border: 2px solid black;
    border-radius: 40px;
}
.btn-new{
  background-color: #7880d1;
  /* background-color: #05a081; */
}
.bg-new{
  /* background-color: #6C63FF; */
  background-color: #7880d1;
}
.btn-right{
  position: absolute;
  right: 20px;
}
.btn-right1{
  position: absolute;
  right: 20px;
  bottom: 20px;
}

button{
  cursor: pointer !important;
}
.card-header{
  margin-right: 0px !important;
}
.card-body{
  margin-right: 0px !important;
  /* text-align: center; */
  /* width: 75%;
    margin: auto; */
}
.buddy{
  width: 100%;
  margin: auto;
  /* margin-top: 44px; */
}
a{
  text-decoration: none !important;

}
.border{
  border:2px solid #7880d1 !important; 
  border-radius: 5px;
  padding: 45px;
  width: 70%;
    /* background-color: #6C63FF; */
  border-color:  #7880d1 !important ;
  height: 330px
  /* margin-right: 0px important; */
}
.row-aboutus *{
  margin-right: 0px !important;
}
.media-left{
  margin-right: 0px !important;
}
#btn-up {
  z-index: 9999;
  top: 90%;
  left: 2%;
  transition: 0.3s; }
  #btn-up:hover {
    transform: scale(1.1); }

.card-about{
  box-shadow: 0 1px 9px rgba(131, 5, 5, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
  /* border: none !important; */
}

.brand-name {
  font-family: 'Rampart One', cursive;
  font-size: 40px;
  letter-spacing: 2px; }
.brand-name span {
    color: #7880d1; }
 .brand-description {
  font-size: 20px; }
  .empty-line {
  height: 3px;
  background-color: #7880d1;
  /* background-color: #6C63FF; */
  border-radius: 30px; }