
.flex{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 15rem;
    height:19rem;
    background-image: url('./assets/notepad.jpg');
    background-size: 15rem 16rem;
    background-repeat: no-repeat;
    margin: 25px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(8, 8, 8, 0.12), 0 1px 9px rgba(0, 0, 0, 0.24);
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 70px;
}
.name{
    margin-top: 30%;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: bold;
    color: darkblue;
}
.name-slide{
    padding-top: 15px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: bold;
    color: rgb(168, 72, 59);
}
.author{
    width:auto;
    font-size: 21px;
    margin-top:40px;
    margin-left: 30%;
    margin-bottom: 0px;
    margin-right: 10px;
    
}
.author-slide{
    width:auto;
    font-size: 25px;
    margin-top:40px;
    margin-left:30%;
    margin-bottom: 0px;
    margin-right: 10px;
    font-family: fantasy;
}
.year{
    font-size: 18px;
    margin-top: 0px;
    margin-left: 50%;
    margin-bottom: 0px;
}
.des{
    display: flex;
    font-size: 15px;
    margin-top: 40px;
    font-family: cursive;
}
.copy{
    color: blue;
    width:100px;
    cursor: pointer;
}
.copies{
    width:120px
}
.slider-image{
    background-image: url('./assets/notepad.jpg');
    background-size: 200px 200px;
    background-repeat: no-repeat;
}